.Users-Section{
    padding: 45px 45px 30px 45px;
    background: #f6f6fa;
    width: calc(100vw - 339px);
    min-height: calc(100vh - 120px);
    margin-left: 320px;
    margin-top: 120px;
}

.Users-Title{
    font:500 36px/14px Roboto;
    color:#0e1a35
}

.Users-Title span{
    color:#8492af;
}